.icon-email-status.status-pending {
  filter: invert(100%) sepia(11%) saturate(7456%) hue-rotate(286deg) brightness(114%) contrast(109%);
  transform: scaleX(-1);
  transform-origin: center;
  animation: spin 3s linear infinite;
  opacity: 0.5;
}

.icon-email-status.status-error {
  filter: invert(21%) sepia(77%) saturate(6707%) hue-rotate(359deg) brightness(102%) contrast(127%) drop-shadow(0 0 3px rgb(59, 0, 0));
}

.icon-email-status.status-success {
  filter: invert(65%) sepia(61%) saturate(3002%) hue-rotate(88deg) brightness(113%) contrast(109%) drop-shadow(0 0 3px rgb(0, 70, 6));
}

.contact-form-background {
  background: linear-gradient(to bottom,
      rgba(0, 194, 255, 0.13),
      70%,
      rgba(255, 255, 255, 0));
}

.contact-form-send {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom,
  rgba(0, 127, 198, 0.83),
  10%,
  rgba(0, 91, 142, 0),
  50%,
  rgba(0, 91, 142, 0),
  90%,
  rgba(0, 127, 198, 0.75));
}

.contact-form-send:active {
  transform: scale(0.98);
  box-shadow: none;
}

.contact-form-send:hover {
  background-color: rgba(0, 195, 255, 0.05);
}


@keyframes spin {
  0% {
    transform: rotate(0deg) scaleX(-1);
  }

  100% {
    transform: rotate(359.999deg) scaleX(-1);
  }
}