

.arrow {
  display: none;
}


.skill-table-row {
  display: flex;
  text-align: left;
  align-items: center;
  border-left: 3px solid #5282FF;
  border-right: 3px solid #5282FF;
  border-bottom: 3px solid #5282FF;
  width: min-content;
  height: 50px;
}

.skill-table-div {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .skill-tables {
    justify-content: start;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    overflow-x: auto;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .skill-tables::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
  }

  .skill-tables section {
    scroll-snap-align: center;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .skill-tables .arrow {
    display: flex;
  }
}