@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #1E1E1E linear-gradient(to bottom,
      rgba(0, 10, 29, 1),
      12%,
      rgba(0, 10, 29, 1),
      45%,
      rgba(3, 69, 117, 0.85),
      73.8095%,
      rgba(0, 90, 102, 0.69));
}

.profile-pic-background {
  min-height: 230px;
  max-height: 230px;
  min-width: 205px;
  max-height: 205px;
  background: linear-gradient(to bottom right,
      #003069,
      #000A1D 25%,
      #000A1D 75%,
      #003069 100%);
  border-radius: 20px;
}

.main-skill-background {
  background: linear-gradient(to bottom,
      rgba(48, 72, 159, 0.71),
      27%,
      rgba(12, 12, 12, 0),
      73%,
      rgba(45, 72, 168, 0.72));
  border-radius: 10px;
}

.project-carousel-center {
  background: linear-gradient(to bottom,
      rgba(0, 10, 29, 0),
      13%,
      rgba(25, 108, 188, 0.65),
      50%,
      rgba(25, 108, 188, 0.65),
      87%,
      rgba(6, 53, 90, 0));
}

.project-carousel-side {
  background: linear-gradient(to bottom,
      rgba(0, 10, 29, 0),
      13%,
      rgba(25, 108, 188, 0.65),
      50%,
      rgba(25, 108, 188, 0.65),
      87%,
      rgba(6, 53, 90, 0));
}

.carousel-button {
  background: linear-gradient(to bottom,
      rgba(67, 123, 207, 1),
      27%,
      rgba(0, 63, 157, 0.9),
      73%,
      rgba(0, 36, 89, 1));
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.icon-filter-bw {
  filter: invert(100%) sepia(11%) saturate(7456%) hue-rotate(286deg) brightness(114%) contrast(109%);
}

.contact-form-background {
  background: linear-gradient(to bottom,
  rgba(0, 194, 255, 0.13),
      70%,
      rgba(255, 255, 255, 0));
}

.contact-form-send {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.contact-form-send:active {
  margin-top: 37px;
  box-shadow: none;
}

.contact-form-send:hover {
  background-color: rgba(0, 195, 255, 0.05);
}

.arrows {
  display: none;
  margin-top: -100px;
}

.arrows-right {
  margin-left: min(50px, 1vw);
}
.arrows-left {
  margin-right: min(50px, 1vw);
}

.skill-tables {
  overflow: hidden;
}

@media only screen and (max-width: 1400px) {
  .skill-tables {
    justify-content: start;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    overflow-x: auto;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .skill-tables::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
  }
  .skill-tables section {
    scroll-snap-align: center;
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  .skill-tables .arrows {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-tables .arrows-right {
    width: 50px;
    height: 50px;
    transform: scale(1.5);
  }

  .skill-tables .arrows-left {
    width: 50px;
    height: 50px;
    transform: scale(1.5);
  }
}