@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #1E1E1E linear-gradient(to bottom,
      rgba(0, 10, 29, 1),
      12%,
      rgba(0, 10, 29, 1),
      45%,
      rgba(3, 69, 117, 0.85),
      73.8095%,
      rgba(0, 90, 102, 0.69));
}



.icon-filter-bw {
  filter: invert(100%) sepia(11%) saturate(7456%) hue-rotate(286deg) brightness(114%) contrast(109%);
}

.grecaptcha-badge { 
  visibility: hidden;
}